{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div>
    <h1>Administration</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#albums">Albums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#artistes">Artistes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#concerts">Concerts</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="albums">
            <p>Il y aura le contenu des Albums ici.</p>
        </div>
        <div class="tab-pane fade" id="artistes">
            <div class="text-center create-artiste-btn">
                <a href={{ path('artiste_create') }} class="btn btn-primary btn-lg">Créer un nouvel artiste</a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Artistes</th>
                        <th class="text-center">Editer</th>
                        <th class="text-center">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for artiste in artistes %}
                    <tr>
                        <td> 
                            <a href={{ path('show_artiste', {'id': artiste.id}) }}>{{ artiste.name }}</a>
                        </td>
                        <td class="text-center">
                            <a href={{ path('artiste_edit', {'id': artiste.id}) }} class="btn btn-secondary">Editer</a>
                        </td>
                        <td class="text-center">
                            <a href={{ path('artiste_delete', {'id': artiste.id}) }} class="btn btn-secondary">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="concerts">
            <p>Il y aura le contenu des Concerts ici.</p>
        </div>
    </div>
</div>
{% endblock %}