{% extends 'base.html.twig' %}

{% block title %}Accueil - Le Maquis Label{% endblock %}

{% block body %}
<!-- Gallery -->
<div class="container-gallery">
    <div class="container-wrap">
        <div class="text-gallery text-center">
            <div class="validation-email">
                {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}
            </div>

            <h1>Le Maquis</h1>
            <ul class="reseaux-sociaux list-inline">
                <li>
                    <a href="https://www.facebook.com/lemaquislabel/" onclick="window.open(this.href); return false;" class="fab fa-facebook-f fa-2x"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/lemaquistv/?hl=fr" onclick="window.open(this.href); return false;" class="fab fa-instagram fa-2x"></a>
                </li>
                <li>
                    <a href="https://soundcloud.com/lemaquisprod" onclick="window.open(this.href); return false;" class="fab fa-soundcloud fa-2x"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/RabooKC2Prod" onclick="window.open(this.href); return false;" class="fab fa-youtube fa-2x"></a>
                </li>
            </ul>
            <div class="footer-gallery">
                <div class="test">
                    <div class="row container-concert">
                        <div class="col-12 offset-lg-2 col-lg-8">
                            <div class="border-concert">
                                <h2 class="h1-responsive font-weight-bold my-4">Nos Concerts</h2>
                                <hr class="col-md-4 col-md-offset-4">
                                <div class="one-concert">
                                    <table>
                                    {% for concert in concerts %}
                                        <tr>
                                            <td>{% for artiste in concert.artiste %} {{ artiste }} {% endfor %}</td>
                                            <td>{{ concert.town }}</td>
                                            <td><a href={{ concert.link }}><button type="button" class="btn btn-outline-info btn-concert">Infos</button></a></td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu -->
<div id="menu-scroll">
{% include 'parts/menu.html.twig' %}
</div>
<!-- Albums -->
<div id="container-albums" class="container-albums container-type background-black">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Albums</h2>
        <hr class="col-md-4 col-md-offset-4">
        <div class="row gallery">
        <p class="col-12 text-center">Clique sur la pochette pour télécharger l'album !</p>
        {% for album in albums %}
            <div class="col-6 col-md-4 album-img text-center">
                <a href={{ album.download }}><img src=/img/albums/{{ album.img }} alt="Le Maquis album"></a>
                <p class="citation artiste-album">{% for artiste in album.artiste %} {{ artiste }} {% endfor %}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Clip -->
<div id="container-clip" class="container-clip container-type background-white">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Dernier clip</h2>
        <hr class="col-md-4 col-md-offset-4">
        <div class="clip-video text-center">
            <iframe width="560" height="315" src="https://youtube.com/embed/66hPP7OCwCc?autoplay=1&controls=1&showinfo=0&autohide=1&mute=1&loop=1&playlist=66hPP7OCwCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!-- Services -->
<div id="container-service" class="container-services container-type background-black">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Nos Services</h2>
        <hr class="col-md-4 col-md-offset-4">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <img class="service-img" src="img/launch_mono.png" alt="Instrumentales">
                    <h3>Instrumentales</h3>
                    <p>Vous avez accés à un catalogue d'une centaine de production HipHop/Rap</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <img class="service-img" src="img/microphone_mono.png" alt="Enregistrement">
                    <h3>Enregistrement</h3>
                    <p>Profiter d'un micro et d'un pré-ampli Vintage de classe A</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <img class="service-img" src="img/headphones_mono.png" alt="Mixage">
                    <h3>Mixage</h3>
                    <p>Le studio est équipé d'enceintes de monitoring APS Klasik, notre Ingé-son maison Beatnik est à votre écoute</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <img class="service-img" src="img/video_mono.png" alt="Vidéo">
                    <h3>Vidéo</h3>
                    <p>Nous pouvons réaliser votre clip, captation live et after movie.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Studio -->
<div id="container-studio" class="container-studio container-type background-white">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Studio Vidéos</h2>
        <hr class="col-md-4 col-md-offset-4">
        <div class="text-center">
            <p>Le Maquis réalise votre clip,  captation live ou after-movie de votre soirée/concert.</p>
            <div class="clip-video text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PdsScq7JrhI?autoplay=1&controls=1&showinfo=0&autohide=1&mute=1&loop=1&playlist=66hPP7OCwCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="citation">Le Maquis est un collectif regroupant des chanteurs/M.C, Beatmakers, Musiciens et Vidéastes. Possibilité de création d'ateliers ou de cours particuliers.</p>
        </div>
    </div>
</div>
<!-- Artistes -->
<div id="container-artiste" class="container-artiste container-type background-black">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Artistes</h2>
        <hr class="col-md-4 col-md-offset-4">
        <div class="row gallery">
        {% for artiste in artistes %}
            <div class="col-6 col-md-4 artiste-img text-center">
                <img src=/img/artistes/{{ artiste.image }} alt="Le Maquis artiste">
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Contact -->
<div id="container-contact" class="container-contact container-type background-white">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact</h2>
        <hr class="col-md-4 col-md-offset-4">
        <div class="row">
            <!-- Block form -->
            <div class="col-md-9 mb-md-0 mb-5">
                {{ form_start(contactForm) }}
                    <div class="row">
                        <div class="col-md-6 contact-input">
                            <div>
                                {{ form_label(contactForm.firstname, 'Votre prénom') }}
                            </div>
                            <div class="text-justify">
                                {{ form_widget(contactForm.firstname) }}
                            </div>
                        </div>

                        <div class="col-md-6 contact-input">
                            <div>
                                {{ form_label(contactForm.lastname, 'Votre nom') }}
                            </div>
                            <div>
                                {{ form_widget(contactForm.lastname) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 contact-input">
                            <div>
                                {{ form_label(contactForm.phone, 'Votre téléphone') }}
                            </div>
                            <div>
                                {{ form_widget(contactForm.phone) }}
                            </div>
                        </div>

                        <div class="col-md-6 contact-input">
                            <div>
                                {{ form_label(contactForm.email, 'Votre email') }}
                            </div>
                            <div>
                                {{ form_widget(contactForm.email) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">                    
                        <div class="col-md-12 contact-input">
                            <div>
                                {{ form_label(contactForm.message, 'Votre message') }}
                            </div>
                            <div>
                                {{ form_widget(contactForm.message) }}
                            </div>
                        </div>
                    </div>
                
                <div class="text-center text-md-left">
                    <button class="btn btn-info btn-contact">Envoyer</button>
                </div>
                {{ form_end(contactForm) }}
            </div>
            <!-- Block informations -->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li>
                        <img class="contact-img" src="img/map_mono.png" alt="Localisation">
                        <p>Dijon, 21000, FR</p>
                    </li>

                    <li>
                        <img class="contact-img" src="img/smartphone_mono.png" alt="Téléphone">
                        <p>+33 6 32 69 63 47</p>
                    </li>

                    <li>
                        <img class="contact-img" src="img/email_mono.png" alt="Email">
                        <p>lemaquilabel@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}