{% extends 'base.html.twig' %}

{% block title %}Accueil - Le Maquis Label{% endblock %}

{% block body %}
<div class="container-gallery">
    <div class="container-wrap">
        <div class="text-gallery text-center">
            <h1>Le Maquis</h1>
            <ul class="reseaux-sociaux list-inline">
                <li>
                    <a href="https://www.facebook.com/lemaquislabel/" class="fab fa-facebook-f fa-2x"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/lemaquislabel/?hl=fr" class="fab fa-instagram fa-2x"></a>
                </li>
                <li>
                    <a href="https://soundcloud.com/lemaquisprod" class="fab fa-soundcloud fa-2x"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/RabooKC2Prod" class="fab fa-youtube fa-2x"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="menu-scroll">
{% include 'parts/menu.html.twig' %}
</div>

<div class="container-services background-black">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Nos Services</h2>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="fas fa-comments fa-3x"></i>
                    <h3>Conseil</h3>
                    <p>Notre équipe vous accompagne dans la création de vos projets</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="fas fa-microphone-alt fa-3x"></i>
                    <h3>Enregistrement</h3>
                    <p>Profiter d'un micro et d'un pré-ampli Vintage de classe A</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="fas fa-headphones fa-3x"></i>
                    <h3>Mixage</h3>
                    <p>Le studio est équipé d'enceintes de monitoring APS Klasik, Notre Ingé-son maison Beatnik est à votre écoute</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="fas fa-music fa-3x"></i>
                    <h3>Instrumentales</h3>
                    <p>Vous avez accés à un catalogue d'une centaine de production HipHop/Rap</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-clip background-white">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Dernier clip</h2>
        <div class="clip-video text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/66hPP7OCwCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="container-studio background-black">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Studio Vidéos</h2>
        <div class="text-center">
            <p>Besoin d'enregistrer/mixer une chanson, un album , un 16 mesures dans un cadre professionnel. Le studio Le Maquis vous accueille pour vos projets musicaux ou audio-visuels.</p>
            <img class="img-studio" src="img/DSC_0005.jpg" alt="studio vidéo">
            <p>Le Maquis est un collectif regroupant des chanteurs/M.C, Beatmakers et Musiciens. Possibilité de création d'ateliers ou de cours particuliers.</p>
        </div>
    </div>
</div>

<div class="container-artiste background-white">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Artistes</h2>
        <div class="row gallery">
        {% for artiste in artistes %}
            <div class="col-6 col-md-4 container-artiste">
                <a href={{ path('show_artiste', {'id': artiste.id}) }}><img src={{ artiste.image }} alt="Le Maquis artiste"></a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="container-concert background-black">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Concerts</h2>
        <div class="one-concert">
            <table>
            {% for concert in concerts %}
                <tr>
                    <td><i class="far fa-calendar-alt fa-2x"></i> {{ concert.name }}</td>
                    <td><i class="fas fa-microphone-alt fa-2x"></i> {{ concert.artiste[0] }}</td>
                    <td><i class="fas fa-map-pin fa-2x"></i> {{ concert.town }}</td>
                    <td><i class="far fa-calendar-check fa-2x"></i> Réservation</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="container-contact background-white">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact</h2>
        <div class="row">
            <!-- Block form -->
            <div class="col-md-9 mb-md-0 mb-5">
                {{ form_start(contactForm) }}
                    <div class="row">
                        <div class="col-md-6 contact-input">
                            <div>
                                {{ form_label(contactForm.firstname, 'Votre prénom') }}
                            </div>
                            <div class="text-justify">
                                {{ form_widget(contactForm.firstname) }}
                            </div>
                        </div>

                        <div class="col-md-6 contact-input">
                            <div>
                                {{ form_label(contactForm.lastname, 'Votre nom') }}
                            </div>
                            <div>
                                {{ form_widget(contactForm.lastname) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 contact-input">
                            <div>
                                {{ form_label(contactForm.phone, 'Votre téléphone') }}
                            </div>
                            <div>
                                {{ form_widget(contactForm.phone) }}
                            </div>
                        </div>

                        <div class="col-md-6 contact-input">
                            <div>
                                {{ form_label(contactForm.email, 'Votre email') }}
                            </div>
                            <div>
                                {{ form_widget(contactForm.email) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">                    
                        <div class="col-md-12 contact-input">
                            <div>
                                {{ form_label(contactForm.message, 'Votre message') }}
                            </div>
                            <div>
                                {{ form_widget(contactForm.message) }}
                            </div>
                        </div>
                    </div>
                
                <div class="text-center text-md-left">
                    <button class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(contactForm) }}
            </div>
            <!-- Block informations -->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Dijon, 21000, FR</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+33 6 00 00 00 00</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>lemaquilabel@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Enlever une fois fini -->
<!-- <a href="{{ app.request.uri }}admintest">Admintest</a> -->

{% endblock %}